<% provide(:title, "Log in") %>
<div class="user_gawa">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Log in</div>
        <div class="panel-body">
          <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :email, class:"info" %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :password, class:"info" %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>Remember me on this computer</span>
            <% end %>

            <%= f.submit "Log in", class: "btn btn-primary" %>
            <p>New user? <%= link_to "Sign up now!", signup_path %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
