<% provide(:title, "ログイン") %>
<div class="user_gawa">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Log in</div>
        <div class="panel-body">
          <%= form_for(:session, url: login_path) do |f| %>

            <%= f.label :メールアドレス, class:"info" %>
            <%= f.email_field :email, class: 'form-control' %>

            <%= f.label :パスワード, class:"info" %>
            <%= link_to "（パスワードを忘れた）", new_password_reset_path %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :このブラウザでは自動的にログインする, class: "checkbox inline" do %>
              <%= f.check_box :remember_me %>
              <span>このブラウザでは自動的にログインする</span>
            <% end %>

            <%= f.submit "ログイン", class: "btn btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
