<div class="user-profile">
  <%= render 'shared/user_image', user: @user %>
  <h1><%= link_to @user.name, user_path(@user) %></h1>
  <%= render 'shared/stats', user: @user %>
  <%= render 'users/follow_form' if logged_in? %>
  <% if current_user == @user %>
    <%= link_to 'プロフィール設定', edit_user_path(@user) %>
  <% end %>
  <div class="follow" id="show_following" style="display: none;" ></div>
  <div class="follow" id="show_follower" style="display: none;" ></div>
</div>
