<% provide(:title, 'All users') %>
<div class="user_gawa">
  <div class="panel panel-default">
    <h1>ユーザ一覧</h1>
    <%= will_paginate %>
    <ul class="users">
      <% @users.each do |user| %>
        <li class="well">
          <div class="user_img">
            <%= render 'shared/user_image', user: user %>
          </div>
          <%= link_to user.name, user %>
          <% if current_user.admin? && !current_user?(user) %>
            | <%= link_to "このアカウントを削除する", user, method: :delete,
                                          data: { confirm: "本当に削除しますか？" } %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= will_paginate %>
  </div>
</div>
