
<tr class="plan_detail", id="plan_detail_<%= plan_detail.id %>">
  <td class="plan_detail_left">
    <h2><%= drow_date(plan_detail, 'year')%></h2>
    <h3><%= drow_date(plan_detail, 'day') %></h3>
  </td>
  <td class="plan_detail_center">
    <div class="plan_detail_time">
      <p><%= plan_detail.date.strftime('%H:%M') %></p>
    </div>
    <div class="plan_detail_action_type">
      <%= image_tag('action_icon/' + plan_detail.action_type + '.svg') %>
      <p><%= drow_action(plan_detail.action_type) %></p>
    </div>
  </td>
  <td class="plan_detail_right">
    <div class="plan_detail_place">
      <p><%= plan_detail.place %></p>
    </div>
    <div class="plan_detail_action_memo">
      <p><%= plan_detail.action_memo %></p>
    </div>
  </td>
</tr>
<tr class="edit_plan_detail" id="edit_plan_detail_<%= plan_detail.id %>">
  <% if request.path_info == edit_plan_path(plan_detail.plan) %>
    <%# 編集ページではアクティビティ編集用フォームの描写 %>
      <%#= render 'plan_details/plan_detail_form',
                 plan_detail: plan_detail,
                 plan_detail_title: 'アクティビティの編集' %>
  <% end %>
</tr>
