<%= form_for(plan_detail) do |plan_detail_f| %>
  <div class="well">
      <%= render 'shared/error_messages', object: plan_detail_f.object %>
      <%= hidden_field_tag :plan_id, plan_detail.plan.id %>
      <h4><%= plan_detail_title %></h4>

      <div class="panel panel-default">
        <h4>いつ？</h4>
        <div class="panel-body date_input">
            <%= plan_detail_f.label :日付と時間, class:"info" %>
            <div class='input-group date datepicker'>
              <%= plan_detail_f.text_field :date, class: 'form-control', autocomplete: 'off', data: { date_format: 'YYYY/MM/DD HH:mm' } %>
              <span class="input-group-addon">
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <h4>どこで？</h4>
        <div class="panel-body">
            <%= plan_detail_f.label :場所, class:"info" %>
            <%= plan_detail_f.text_field :place, autocomplete: 'off', class: 'form-control' %>
        </div>
      </div>

      <div class="panel panel-default">
        <h4>何をする？</h4>
        <div class="panel-body">
          <div class="well">
            <div class="btn-group" data-toggle="buttons">
            <h5>移動</h5>
            <% @action_type_move.each do |key, value| %>
               <%= render 'plan_details/plan_detail_form_action',
                          key: key, value: value, plan_detail: plan_detail,
                          plan_detail_f: plan_detail_f %>
            <% end %>
            <h5>滞在</h5>
            <% @action_type_visit.each do |key, value| %>
               <%= render 'plan_details/plan_detail_form_action',
                          key: key, value: value, plan_detail: plan_detail,
                          plan_detail_f: plan_detail_f %>
            <% end %>
            </div>
          </div>
          <%= plan_detail_f.label :メモ, class:"info" %>
          <%= plan_detail_f.text_area :action_memo, class: 'form-control' %>
        </div>
      </div>

      <div class="panel panel-default">
        <h4>必要なものは？</h4>
        <h5>※「コンマ(,)」で区切って記載する</h5>
        <div class="panel-body">
          <%= plan_detail_f.label :必要なもの, class:"info" %>
          <%= plan_detail_f.text_area :action, class: 'form-control' %>
        </div>
      </div>

      <div class="panel panel-default">
        <h4>かかる費用は？</h4>
        <div class="panel-body">
          <div class="payments_forms">
            <div class="payments_form">
              <%= plan_detail_f.label :何の費用か, class:"info" %>
              <%= plan_detail_f.text_field :action, class: 'form-control' %>
            </div>
            <div class="payments_form">
              <%= plan_detail_f.label :いくらかかるか, class:"info" %>
              <%= plan_detail_f.text_field :action, class: 'form-control' %>
            </div>
          </div>
          <div class="payments_content">
            かかる費用を表示
          </div>
        </div>
      </div>
      <%= plan_detail_f.submit 'アクティビティを保存する', class: 'btn btn-default' %>
  </div>
<% end %>
