<%= form_for(plan_detail, remote:true) do |plan_detail_f| %>
  <div class="well">
      <%= hidden_field_tag :plan_id, plan_detail.plan.id %>
      <h4><%= plan_detail_title %></h4>
      <%= render 'shared/error_messages', object: plan_detail_f.object %>

      <div class="panel panel-default">
        <h4>いつ？</h4>
        <div class="panel-body date-input">
            <%= plan_detail_f.label :日付と時間, class:"info" %>
            <div class='input-group date datepicker'>
              <%= plan_detail_f.text_field :date, class: 'form-control',
                                                  autocomplete: 'off',
                                                  data: { date_format: 'YYYY/MM/DD HH:mm' } %>
              <span class="input-group-addon">
            </div>
        </div>
      </div>

      <div class="panel panel-default">
        <h4>どこで？</h4>
        <div class="panel-body">
            <%= plan_detail_f.label :場所, class:"info" %>
            <%= plan_detail_f.text_field :place, autocomplete: 'off', class: 'form-control' %>
        </div>
      </div>

      <div class="panel panel-default">
        <h4>何をする？</h4>
        <div class="panel-body">
          <div class="well">
            <div class="btn-group" data-toggle="buttons">
            <h5>移動</h5>
            <% @action_type_move.each do |key, value| %>
               <%= render 'plan_details/plan_detail_form_action',
                          key: key, value: value, plan_detail: plan_detail,
                          plan_detail_f: plan_detail_f %>
            <% end %>
            <h5>滞在</h5>
            <% @action_type_visit.each do |key, value| %>
               <%= render 'plan_details/plan_detail_form_action',
                          key: key, value: value, plan_detail: plan_detail,
                          plan_detail_f: plan_detail_f %>
            <% end %>
            </div>
          </div>
          <%= plan_detail_f.label :メモ, class:"info" %>
          <%= plan_detail_f.text_area :action_memo, class: 'form-control' %>
        </div>
      </div>

      <div class="panel panel-default">
        <h4>必要なものは？</h4>
        <h5>※改行で区切って記載する</h5>
        <div class="panel-body plan-detail-belonging-input">
          <%= plan_detail_f.text_area :belongings, class: 'form-control', id:'input_belongings' %>
        </div>
        <div class="plan-detail-belonging-output">
          <p>必要なもの</p>
          <ul id="output_belongings"></ul>
        </div>
      </div>

      <div class="panel panel-default">
        <h4>かかる費用は？</h4>
        <div class="panel-body">
          <div class="payments-form">
            <div class="payment-hidden">
              <!-- DBに送信するデータをhiddenに入れておく -->
              <%= plan_detail_f.hidden_field :payments_items %>
              <%= plan_detail_f.hidden_field :payments_moneys %>
            </div>
            <div class="payment-item">
              <%= plan_detail_f.label :何の費用か, class:"info" %>
              <%= text_field :plan_detail_payment, :item, autocomplete:'off', class: 'form-control' %>
            </div>
            <div class="payment-money">
              <%= plan_detail_f.label :いくらかかるか, class:"info" %>
              <%= text_field :plan_detail_payment, :money, type:'tel', autocomplete:'off', class: 'form-control' %>
            </div>
            <div class="payment-button">
              <p class="btn btn-default">費用を追加</p>
            </div>
            <div class="err-message">
              <!-- 金額入力のエラーメッセージの表示欄として使う -->
            </div>
          </div>
          <div class="payments-content">
            <div class="output-item"><ul id="payments_output_item"></ul></div>
            <div class="output-money"><ul id="payments_output_money"></ul></div>
            <div class="output-total"><p id="payments_output_total"></p></div>
          </div>
        </div>
      </div>
      <%= plan_detail_f.submit 'アクティビティを保存する', class: 'btn btn-default' %>
  </div>
<% end %>
