<div class="plan-detail", id="plan_detail_<%= plan_detail.id %>">
  <div class="plan-detail-left">
    <!-- 年月表示 -->
    <% currennt_year = draw_date(plan_detail, 'year') %>
    <% currennt_day = draw_date(plan_detail, 'day') %>
    <% unless currennt_year.blank? && currennt_day.blank? %>
      <div class="draw-date">
        <% unless currennt_year.blank? %><span class="draw-year"><%= currennt_year %></span><% end %>
        <% unless currennt_day.blank? %><span class="draw-day"><%= currennt_day %></span><% end %>
      </div>
    <% end %>
  </div>
  <div class="plan-detail-center">
    <!-- 時間と行動内容アイコンの列 -->
    <div class="plan-detail-time">
      <p><%= plan_detail.date.strftime('%H:%M') %></p>
    </div>
    <div class="plan-detail-action-type">
      <%= image_tag('action_icon/' + plan_detail.action_type + '.svg') %>
      <p><%= draw_action(plan_detail.action_type) %></p>
    </div>
  </div>
  <div class="plan-detail-right">
    <!-- 場所の項目 -->
    <div class="plan-detail-place">
      <p><%= plan_detail.place %></p>
    </div>

    <!-- 行動内容メモの項目 -->
    <div class="plan-detail-action-memo">
      <p><%= plan_detail.action_memo %></p>
    </div>

    <!-- 持ち物の項目 -->
    <div class="plan-detail-belongings">
      <p>もちもの</p>
      <ul>
        <%= draw_belongings(plan_detail.belongings) %>
      </ul>
    </div>

    <!-- 小さい画面用の費用の項目 -->
    <div class="plan-detail-payments-mobile">
      <%= render 'plan_details/plan_detail_payments', plan_detail: plan_detail %>
    </div>

</div>

<!-- 費用の項目 -->
<div class="plan-detail-payments">
  <%= render 'plan_details/plan_detail_payments', plan_detail: plan_detail %>
</div>

  <% if request.path_info == edit_plan_path(plan_detail.plan) %>
    <div class="plan-detail-edit" id="plan_edit_<%= plan_detail.id %>" style="display: none;">
      <%= link_to image_tag('controll_plan_detail/edit_plan_detail.svg'),
                  edit_plan_detail_path(plan_detail, plan_id: plan_detail.plan),
                  class: 'to-plan-detail-edit',
                  alt: 'プランを編集',
                  remote: true %>
      <%= link_to image_tag('controll_plan_detail/delete_plan_detail.svg'),
                  plan_detail_path(plan_detail, plan_id: plan_detail.plan),
                  method: :delete,
                  class: 'to-plan-detail-delete',
                  alt: 'プランを削除',
                  data: { confirm: "本当に削除しますか？" }  %>
    </div>
  <% end %>
</div>
<div>
  <div class="edit-plan-detail" id="edit_plan_detail_<%= plan_detail.id %>" style="display: none;">
    <%# 編集ページではアクティビティ編集用フォームの描写 %>
  </div>
</div>
