<div class="plan_detail", id="plan_detail_<%= plan_detail.id %>">
  <div class="plan_detail_left">
    <!-- 年月表示 -->
    <h2><%= draw_date(plan_detail, 'year')%></h2>
    <h3><%= draw_date(plan_detail, 'day') %></h3>
  </div>
  <div class="plan_detail_center">
    <!-- 時間と行動内容アイコンの列 -->
    <div class="plan_detail_time">
      <p><%= plan_detail.date.strftime('%H:%M') %></p>
    </div>
    <div class="plan_detail_action_type">
      <%= image_tag('action_icon/' + plan_detail.action_type + '.svg') %>
      <p><%= draw_action(plan_detail.action_type) %></p>
    </div>
  </div>
  <div class="plan_detail_right">
    <!-- 場所と行動内容概要の列 -->
    <div class="plan_detail_place">
      <p><%= plan_detail.place %></p>
    </div>
    <div class="plan_detail_action_memo">
      <p><%= plan_detail.action_memo %></p>
    </div>
  </div>
  <div class="plan_detail_belongings">
    <ul>
      <%= draw_belongings(plan_detail.belongings) %>
    </ul>
  </div>
  <div class="plan_detail_payments">
    <div>
      <% if !plan_detail.payments_items.nil? %>
        <% plan_detail.payments_items.split(',').each do |item| %>
          <p><%= item %>：</p>
        <% end %>
      <% end %>
    </div>
    <div>
      <% if !plan_detail.payments_moneys.nil? %>
        <% plan_detail.payments_moneys.split(',').each do |money| %>
          <p><%= number_to_currency(money, unit:'¥', precision: 0) %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if request.path_info == edit_plan_path(plan_detail.plan) %>
    <div class="plan_detail_edit" id="plan_edit_<%= plan_detail.id %>">
      <%= link_to image_tag('controll_plan_detail/edit_plan_detail.svg'),
                  edit_plan_detail_path(plan_detail, plan_id: plan_detail.plan),
                  remote: true %>
      <%= link_to image_tag('controll_plan_detail/delete_plan_detail.svg'),
                  plan_detail_path(plan_detail, plan_id: plan_detail.plan),
                  method: :delete,
                  data: { confirm: "本当に削除しますか？" }  %>
    </div>
  <% end %>
</div>
<div>
  <div class="edit_plan_detail" id="edit_plan_detail_<%= plan_detail.id %>" style="display: none;">
    <%# 編集ページではアクティビティ編集用フォームの描写 %>
  </div>
</div>
