<div class="plan_details">
  <div class="plan_details_left">
    <% @plan_details.order(:date).each do |plan_detail| %>
      <%= render 'plan_details/plan_detail',
                 plan_detail: plan_detail %>
    <% end %>
    <%# 新規アクティビティ追加用フォームの描写 %>
    <% if request.path_info == edit_plan_path %>
      <div class="add_plan_detail_button">
        <%= image_tag('controll_plan_detail/new_plan_detail.svg', class:'btn') %>
      </div>
      <div class="add_plan_detail" style="display: none;">
        <%= render 'plan_details/plan_detail_form', plan_detail: @new_plan_detail,
                                                    plan_detail_title: 'アクティビティの追加'  %>
      </div>
    <% end %>
  </div>
  <div class="plan_belongings">
  <% if !@plan_belongings.nil? %>
    <p>もっていくもの</p>
    <ul>
      <% @plan_belongings.each do |belonging| %>
        <li><%= belonging %></li>
      <% end %>
    </ul>
  <% end %>
  </div>
  <div class="plan_payments">
    <p>支払う費用</p>
    <ul>
      <% @plan_payments.each do |value| %>
        <%= value[:id] %>：<%= value[:item] %>:
        <%= number_to_currency(value[:money], unit: '¥',precision: 0) %>
        <br/>
      <% end %>
    </ul>
  </div>
</div>
