// 共有するJavaScriptは/app/assets/javascripts/application.jsに記載

// すでに出しているフォームは非表示にする
$('.add-plan-detail').hide();

// フォーム表示
if (lastFormId === '#edit_plan_detail_<%= @plan_detail.id %>') {
  // すで表示しているフォームの表示ボタンを押した時
  $('#edit_plan_detail_<%= @plan_detail.id %>').slideToggle('fast').empty();
  var lastFormId = '' //表示したフォームの記憶を削除
} else {
  // すでに表示している編集フォームは閉じて削除
  if (lastFormId) {$(lastFormId).slideToggle('fast').empty();}

  // 編集フォームを表示
  $('#edit_plan_detail_<%= @plan_detail.id %>').html("<%= j(render 'plan_details/plan_detail_form', plan_detail: @plan_detail, plan_detail_title: 'アクティビティの編集') %>")

  $('#edit_plan_detail_<%= @plan_detail.id %>').slideToggle('fast'); // 編集画面を描写
  var lastFormId = '#edit_plan_detail_<%= @plan_detail.id %>';   // 表示したフォームのIDを記憶

  // 既存の費用を表示
  var draw_item = $('#plan_detail_payments_items').val().split(',');
  var draw_money = $('#plan_detail_payments_moneys').val().split(',');
  $.each(draw_item, function(index, value) {
    $('#payments_output_item').append('<li>'+value+'</li>');
  });
  $.each(draw_money, function(index, value) {
    $('#payments_output_money').append('<li>'+jQuery.jpyen(value)+'</li>');
  });

  // 費用の合計を表示
  jQuery.moneySum(draw_money);

  // 既存の持ち物を表示
  var belongings = $('#input_belongings').val().split(/\r\n|\r|\n/);
  var output = '';
  $.each(belongings, function(index, value) {
    output += '<li>'+value+'</li>';
  });
  $('#output_belongings').html(output);
}

jQuery.default(); // フォームの共通設定を読み込み
