// すでに出しているフォームは非表示にする
$('.add_plan_detail').hide();

// 編集画面を表示
if (lastFormId === '#edit_plan_detail_<%= @plan_detail.id %>') {
  // 同じアクティビティに対する編集ボタンであれば表示したフォームを削除
  $('#edit_plan_detail_<%= @plan_detail.id %>').slideToggle('fast').empty();

  //表示したフォームの記憶を削除
  var lastFormId = ''
} else {
  // すでに表示している編集フォームは閉じて削除
  if (lastFormId) {$(lastFormId).slideToggle('fast').empty();}

  // 編集フォームを表示
  $('#edit_plan_detail_<%= @plan_detail.id %>').html("<%= j(render 'plan_details/plan_detail_form', plan_detail: @plan_detail, plan_detail_title: 'アクティビティの編集') %>")

  //費用を表示
  // hiddenの値を取得
  var draw_item = $('#plan_detail_payments_item').val().split(',');
  var draw_money = $('#plan_detail_payments_money').val().split(',');
  // hiddenの値を描写
  $.each(draw_item, function(index, value) {
    $('#payments_output_item').append('<li>'+value+'</li>');
  });
  $.each(draw_money, function(index, value) {
    $('#payments_output_money').append('<li>'+value+'</li>');
  });

  //持ち物を表示
  var belongings = $('#input_belongings').val().split(/\r\n|\r|\n/);
  var output = new Array();
  $.each(belongings, function(index, value) {
    output += '<li>'+value+'</li>';
  });
  $('#output_belongings').html(output);

  // 編集画面を描写
  $('#edit_plan_detail_<%= @plan_detail.id %>').slideToggle('fast');

  // 表示したフォームのIDを記憶
  var lastFormId = '#edit_plan_detail_<%= @plan_detail.id %>'
}

// datepickerカレンダー表示
var data = {'data-date-format': 'YYYY-MM-DD hh:mm:ss' };
$(function(){
  $('.datepicker').attr(data);
  $('.datepicker').datetimepicker();
});

// 持ち物を入力したらリアルタイムで表示
$('#input_belongings').on('input', function() {
  var belongings = $(this).val().split(/\r\n|\r|\n/);
  var output = '';
  $.each(belongings, function(index, value) {
      output += '<li>'+value+'</li>';
  });
  $('#output_belongings').html(output);
});

// 費用を入力したら表示
$('#payment_button').on('click', function() {
  // hiddenの値を取得
  var draw_item = $('#plan_detail_payments_item').val().split(',');
  var draw_money = $('#plan_detail_payments_money').val().split(',');

  // テキストボックスの値を取得
  var input_item = $('#plan_detail_payment_item').val();
  var input_money = $('#plan_detail_payment_money').val();

  // 入力値を配列に追加
  draw_item.push(input_item);
  draw_money.push(input_money);

  // 入力値を描写
  $('#payments_output_item').append('<li>'+input_item+'</li>');
  $('#payments_output_money').append('<li>'+input_money+'</li>');

  // hiddenの値を書き換え
  $('#plan_detail_payments_item').val(draw_item);
  $('#plan_detail_payments_money').val(draw_money);
});
