<li id="plan-<%= plan.id %>" class = "plan-list">
  <div class="plan-user">
    <div class="user-img">
      <%= render 'shared/user_image', user: plan.user %>
    </div>
    <p class="user"><%= link_to plan.user.name, plan.user %></p>
  </div>
  <div class="plan-overview">
    <h2 class="plan-title">
      <% if request.path_info == edit_plan_path(plan) || request.path_info == plan_path(plan) %>
        <%= plan.title %>
      <% else %>
        <%= link_to plan.title, plan_path(plan) %>
      <% end %>
    </h2>
    <p class="plan-content"><%= plan.content %></p>
    <small class="timestamp">
      Created <%= time_ago_in_words(plan.created_at) %> ago.
    </small>
  </div>
  <div class="edit-plan-link">
  <% if current_user == plan.user && (request.path_info == root_path || request.path_info == user_path(user) || request.path_info == plans_path ) %>
    <%= link_to 'このプランを編集する', edit_plan_path(plan), class:"btn btn-default" %>
  <% end %>
  </div>
</li>
