<%= form_for(@plan) do |plan_f|%>
  <%# プラン概要フォーム %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <% if ( request.path_info == new_plan_path || @plan.title.blank? ) %>
        <p>作成するプラン概要</p>
      <% else %>
        <%= link_to @plan.title, plan_path(@plan) %>
      <% end %>
    </div>
    <div class="panel-body">
        <%= render 'shared/error_messages', object: plan_f.object %>

        <%= plan_f.label :プランタイトル, class:"info" %>
        <%= plan_f.text_field :title, class: 'form-control' %>

        <%= plan_f.label :プラン概要, class:"info" %>
        <%= plan_f.text_area :content, class: 'form-control' %>

        <%= plan_f.submit plan_form_button, class: 'btn btn-default' %>
        <% if @plan.id? && current_user == @plan.user %>
          <div class='delete-plan'><%= link_to "プランを削除する", plan_path, method: :delete, data: { confirm: "このページに表示されているプランはすべて削除されます。削除したプランは元に戻せません。本当に削除しますか？"} %></div>
        <% end %>
    </div>
  </div>
<% end %>
