<div class="plan_form_gawa">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">プラン概要</div>
        <div class="panel-body">
          <%= form_for(@plan) do |plan_f|%>
            <%= render 'shared/error_messages', object: plan_f.object %>

            <%= plan_f.label :プランタイトル, class:"info" %>
            <%= plan_f.text_field :title, class: 'form-control' %>

            <%= plan_f.label :プラン概要, class:"info" %>
            <%= plan_f.text_area :content, class: 'form-control' %>

            <%= plan_f.submit yield(:plan_form_button), class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
