<% provide(:title, "プラン新規作成") %>
<div class="new_plan_gawa">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">プラン概要</div>
        <div class="panel-body">
          <%= form_for(@plan) do |plan_f| %>
            <%= render 'shared/error_messages', object: plan_f.object %>

            <%= plan_f.label :プランタイトル, class:"info" %>
            <%= plan_f.text_field :title, class: 'form-control' %>

            <%= plan_f.label :プラン概要, class:"info" %>
            <%= plan_f.text_area :content, class: 'form-control' %>

            <%= plan_f.submit "プランを作成する", class: 'btn btn-default' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<%# 追加済みのアクティビティをリピートで描写 %>

<!-- アクティビティ追加インターフェース -->
<div class="well" >
  <h3>アクティビティの追加</h3>
  <%= form_for(@plan_detail) do |plan_detail_f| %>
  <%= render 'shared/error_messages', object: plan_detail_f.object %>
  <div class="new_plan_detail_gawa">
    <div class="panel panel-default">
      <h4>いつ？</h4>
      <div class="panel-body">
          <%= plan_detail_f.label :日付, class:"info" %>
          <%= plan_detail_f.text_field :date, class: 'form-control' %>

          <%= plan_detail_f.label :場所, class:"info" %>
          <%= plan_detail_f.text_area :place, class: 'form-control' %>

      </div>
    </div>
  </div>

  <div class="new_plan_detail_gawa">
    <div class="panel panel-default">
      <h4>どこで？</h4>
      <div class="panel-body">
          <%= plan_detail_f.label :場所, class:"info" %>
          <%= plan_detail_f.text_field :place, class: 'form-control' %>
      </div>
    </div>
  </div>


    <div class="new_plan_detail_gawa">
      <div class="panel panel-default">
        <h4>何をする？</h4>
        <div class="panel-body">
            <div class="well">
              <div class="btn-group" data-toggle="buttons">
              <p>移動</p>
              <% @action_type_move.each do |key, value| %>
                <label class="btn btn-outline-dark">
                <%= plan_detail_f.radio_button :action, key, {checked: true} %> <%= value %> </label>
              <% end %>
              <p>滞在</p>
              <% @action_type_visit.each do |key, value| %>
                <label class="btn btn-outline-dark">
                <%= plan_detail_f.radio_button :action, key, {checked: true} %> <%= value %> </label>
              <% end %>
              </div>
            </div>
            <%= plan_detail_f.label :メモ, class:"info" %>
            <%= plan_detail_f.text_area :place, class: 'form-control' %>
        </div>
      </div>
    </div>



    <div class="new_plan_detail_gawa">
      <div class="panel panel-default">
        <h4>必要なものは？</h4>
        <div class="panel-body">
            <%= plan_detail_f.label :必要なもの, class:"info" %>
            <%= plan_detail_f.text_area :stuff, class: 'form-control' %>
        </div>
      </div>
    </div>
  <%= plan_detail_f.submit "アクティビティの追加", class: 'btn btn-default' %>
  <% end %>
</div>

<%# 追加済みのアクティビティをリピートで描写 %>
