<% provide(:title, @plan.title) %>
<div class="plan_gawa">
  <div class="panel panel-default">
    <%= render @plan %>
  </div>
</div>
<div class="plan_detail_gawa">
  <div class="plan_detail_left">
    <% @plan.plan_details.each do |plan_detail| %>
    <div class="plan_detail plan_detail_<%=plan_detail.id %>">
      <div class="plan_detail_date ">
        <h2><%= plan_detail.date.strftime('%Y年') %></h2>
        <h3><%= plan_detail.date.strftime('%m月%d日') %></h3>
      </div>
      <div class="plan_detail_content">
        <div class="plan_detail_content_top">
          <div class="plan_detail_time"><p><%= plan_detail.date.strftime('%H:%M') %></p></div>
          <div class="plan_detail_place"><p><%= plan_detail.place %></p></div>
        </div>
        <div class="plan_detail_content_bottom">
          <div class="plan_detail_action_type"><p><%= plan_detail.action_type %></p></div>
          <div class="plan_detail_action"><p><%= plan_detail.action %></p></div>
          <div class="plan_detail_action_memo"><p><%= plan_detail.action_memo %></p></div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="plan_detail_right">
    <div class="plan_detail_belongings">
      <p>もっていくもの</p>
    </div>
    <div class="plan_detail_payments">
      <p>支払う費用</p>
    </div>
  </div>
</div>
